@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.sidebar-item {
    @apply flex hover:bg-base-100 active:bg-base-200 active:text-amber-50 text-[15px] py-[10px] px-[16px] mx-[16px] gap-3 md:my-[10px] items-center flex-row rounded;
}

.sidebar-item-lock{
    @apply flex tooltip hover:bg-base-100 active:bg-base-200 active:text-amber-50 text-[15px] py-[10px] px-[16px] mx-[16px] gap-3 md:my-[10px] items-center flex-row rounded;
}

.active{
    @apply bg-blue-400 hover:bg-accent text-amber-50;
}

.form-group{
    @apply flex flex-col gap-2 my-6;
}

.side-lock{
    @apply text-xs text-gray-700;
}

.custom-shape-divider-bottom-1689080022 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689080022 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 139px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1689080022 .shape-fill {
    fill: rgba(242, 235, 235, 0.42);
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1689080022 svg {
        width: calc(147% + 1.3px);
        height: 41px;
    }
}

.cash-bg{
    background-image: url('http://localhost:8000/cashout.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
}

.img-box {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    display: flex;
}

.img-list i, .img-list-slow i {
    font-size: 100px; /* Adjust as needed */
    margin-right: 10px;
}

.menu{
    z-index: auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #5151f1;
    height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: orangered;
    border-radius: 5px;
    height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: orangered;
    height: 5px;
}

.custom-z{
    z-index: 9999 !important;
}
